/* ==================Local Resets==================== */
body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatetop_arrow {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 230px;
    opacity: 1;
  }
}
@keyframes animatetop_arrow {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 230px;
    opacity: 1;
  }
}
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@-webkit-keyframes breathing-light {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@keyframes breathing-light {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section-title {
  line-height: 1.2;
  font-weight: 500;
  font-size: 100px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-title {
  text-transform: uppercase;
  color: #fff;
}

.text {
  color: rgba(42, 42, 42, 0.8);
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.4;
}

html {
  scroll-behavior: smooth;
}

.body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.pointer:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button {
  color: #2a2a2a;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  min-width: 100px;
  border: 2px solid currentColor;
  padding: 10px 24px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 600;
  -webkit-transition: color 400ms ease-in-out, border-radius 500ms ease-in-out 400ms, scale 300ms ease-in-out, -webkit-transform 400ms ease;
  transition: color 400ms ease-in-out, border-radius 500ms ease-in-out 400ms, scale 300ms ease-in-out, -webkit-transform 400ms ease;
  transition: color 400ms ease-in-out, transform 400ms ease, border-radius 500ms ease-in-out 400ms, scale 300ms ease-in-out;
  transition: color 400ms ease-in-out, transform 400ms ease, border-radius 500ms ease-in-out 400ms, scale 300ms ease-in-out, -webkit-transform 400ms ease;
}
.button:hover, .button:focus {
  scale: 1.2;
  border-radius: 4px;
  color: #fff;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.hero {
  background-image: url(../images/2b1966ee8e9994d4051d1154196acc0e.jpeg);
  background-repeat: no-repeat;
  height: 800px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.animation-first {
  position: relative;
  -webkit-animation: animatetop 1200ms;
          animation: animatetop 1200ms;
}

.animation-second {
  position: relative;
  -webkit-animation: animatebottom 900ms;
          animation: animatebottom 900ms;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero__subtitle {
  width: 534px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.25rem;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  -webkit-animation: animateleft 900ms;
          animation: animateleft 900ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero__icon-wrapper {
  display: inline-block;
  fill: rgba(128, 128, 128, 0.5);
  position: relative;
  -webkit-animation: animatetop_arrow 1200ms, breathing 2000ms normal infinite;
          animation: animatetop_arrow 1200ms, breathing 2000ms normal infinite;
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
  top: 230px;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: scale 300ms ease-in-out;
  transition: scale 300ms ease-in-out;
}
.hero__icon-wrapper:hover, .hero__icon-wrapper:focus {
  scale: 1.4;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.hero__arrow-icon {
  -webkit-animation: 5s ease-out infinite normal;
          animation: 5s ease-out infinite normal;
}

.about {
  text-align: center;
}

.about__title {
  width: 540px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.about__subtitle {
  color: #2a2a2a;
  margin-bottom: 60px;
}

.about__thumb {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
  gap: 100px;
  padding: 0 250px;
  margin-bottom: 40px;
}

.about__image {
  display: block;
  width: 20%;
  margin: 0 auto;
  -webkit-transition: scale 300ms ease-in-out, -webkit-transform 400ms ease-in-out 50ms;
  transition: scale 300ms ease-in-out, -webkit-transform 400ms ease-in-out 50ms;
  transition: transform 400ms ease-in-out 50ms, scale 300ms ease-in-out;
  transition: transform 400ms ease-in-out 50ms, scale 300ms ease-in-out, -webkit-transform 400ms ease-in-out 50ms;
  -webkit-animation: breathing-light 2000ms normal infinite;
          animation: breathing-light 2000ms normal infinite;
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
}
.about__image:hover {
  scale: 1.15;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.gallery {
  background-image: url(../images/86d9c6c21bf26d2b3ed027f777d359c7.png);
  height: 1100px;
  padding: 0 90px;
  background-position: bottom;
}

.gallery__pictureset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.gallery__pictureset img {
  width: 326.6666666667px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-transition: border-radius 400ms ease 150ms, z-index 300ms ease-in-out 150ms, -webkit-transform 400ms ease-in-out 150ms;
  transition: border-radius 400ms ease 150ms, z-index 300ms ease-in-out 150ms, -webkit-transform 400ms ease-in-out 150ms;
  transition: transform 400ms ease-in-out 150ms, border-radius 400ms ease 150ms, z-index 300ms ease-in-out 150ms;
  transition: transform 400ms ease-in-out 150ms, border-radius 400ms ease 150ms, z-index 300ms ease-in-out 150ms, -webkit-transform 400ms ease-in-out 150ms;
}
.gallery__pictureset img:not(:last-child) {
  margin-bottom: 20px;
}
.gallery__pictureset img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 8px;
  z-index: 1;
}

.image-item-1 {
  margin-top: 50px;
  height: 500px;
}

.image-item-2 {
  height: 280px;
}

.image-item-3 {
  height: 300px;
}

.image-item-4 {
  height: 550px;
}

.image-item-5 {
  margin-top: 50px;
  height: 400px;
}

.image-item-6 {
  height: 380px;
}

.gallery__title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.gallery__subtitle {
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 15px;
  margin-bottom: 20px;
}

.gallery__button {
  color: rgba(255, 255, 255, 0.8);
  -webkit-animation: breathing-light 2000ms normal infinite;
          animation: breathing-light 2000ms normal infinite;
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
}

.travel {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -140px;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.travel__map-thumb {
  background-image: url(../images/41695f7aabdb8eaa9fd6df8a3f7d4473.png);
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel__thumb {
  padding-left: 60px;
  padding-right: 43px;
  text-align: left;
  width: 50%;
  padding-bottom: 90px;
}

.travel__map {
  width: 50%;
  position: relative;
}
.travel__map > img {
  z-index: 10;
  -webkit-transition: -webkit-transform 400ms ease 200ms;
  transition: -webkit-transform 400ms ease 200ms;
  transition: transform 400ms ease 200ms;
  transition: transform 400ms ease 200ms, -webkit-transform 400ms ease 200ms;
}
.travel__map > img:hover {
  display: block;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.travel__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.travel_description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

.pointer {
  fill: #3a6aa7;
  height: 40px;
  width: auto;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  z-index: 100;
}
.pointer:nth-child(1) {
  position: absolute;
  top: 25px;
  left: 52px;
}
.pointer:nth-child(2) {
  position: absolute;
  top: 180px;
  left: 197px;
}
.pointer:nth-child(3) {
  position: absolute;
  top: 76px;
  left: 308px;
}
.pointer:nth-child(4) {
  position: absolute;
  top: 179px;
  left: 419px;
}

.invitation {
  background-image: url(../images/8489c5e2eb1c696fba409c94e0ca77d1.png);
  padding-top: 0;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invitation__text-thumb {
  width: 50%;
  text-align: left;
  padding: 20px;
  padding-right: 80px;
}

.invitation__gallery {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 1000px;
  height: 480px;
}

.column {
  margin-top: 20px;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  gap: 20px;
}
.column > img {
  vertical-align: middle;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: border-radius 400ms ease 50ms, -webkit-transform 400ms ease-in-out 50ms;
  transition: border-radius 400ms ease 50ms, -webkit-transform 400ms ease-in-out 50ms;
  transition: transform 400ms ease-in-out 50ms, border-radius 400ms ease 50ms;
  transition: transform 400ms ease-in-out 50ms, border-radius 400ms ease 50ms, -webkit-transform 400ms ease-in-out 50ms;
}
.column > img:not(:last-child) {
  margin-bottom: 20px;
}
.column > img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border-radius: 8px;
  z-index: 200;
}

.item-1 {
  height: 220px;
}

.item-2 {
  height: 220px;
}

.item-3 {
  height: 140px;
}

.item-4 {
  height: 140px;
}

.item-5 {
  height: 140px;
}

.item-6 {
  height: 220px;
}

.item-7 {
  height: 220px;
}

.invitation__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  width: 300px;
  text-transform: uppercase;
}

.invitation__description {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.005em;
  color: rgba(42, 42, 42, 0.8);
}

.invitation__button {
  color: #6b86a4;
  -webkit-animation: breathing-light 2000ms normal infinite;
          animation: breathing-light 2000ms normal infinite;
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
}
.invitation__button:hover {
  color: rgba(42, 42, 42, 0.8);
}/*# sourceMappingURL=main.css.map */