@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
@keyframes animatetop_arrow {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 230px;
		opacity: 1;
	}
}

@keyframes breathing {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(0.95);
	}
}
@keyframes breathing-light {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
