
 /* ==================Local Resets==================== */


 body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
ul {
	list-style: none;
}

 
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a:active,
  a:hover {
    outline-width: 0;
  }

  img{
	display: block;
	max-width: 100%;
	height: auto;
}


