.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.link {
	text-decoration: none;
	color: inherit;
}
.section-title{
	line-height: 1.2;
	font-weight: 500;
	font-size: 100px;
	line-height: 1.1;
	color: $white-color;
	margin-bottom: 10px;
}

.title {
	font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sub-title{
	text-transform: uppercase;
	color: $white-color;

}
.text{
	color: rgba(42, 42, 42, 0.8);
	font-weight: 500;
	letter-spacing: 0.01em;
	line-height: 1.4;
}