.button{
    color: $primaryTextColor;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    min-width: 100px;
    border: 2px solid currentColor;
    padding: 10px 24px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 600;
    transition: color 400ms ease-in-out, transform 400ms ease, border-radius 500ms ease-in-out 400ms,
    scale 300ms ease-in-out;
    &:hover, &:focus{
        scale: 1.2;
        border-radius: 4px;
        color: #fff;
        animation-play-state: paused;
    }

}