
header{
    position: absolute;
    padding: 0 80px;
    width: $desktop;
    top: 0;
    left: 50%;
   transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(0, 0, 0, 0.1) 100%);


}
.header__logo{
    transition: scale 200ms ease;
    &:hover{
        scale: 1.1;
    }
}
nav{
    align-content: end;
}
.header__thumb{
    display: flex;
    align-items: center;
}
.nav---btn{
    background-color: transparent;
}
.header__nav{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    list-style: none;
    & a{
        display: block;
        padding: 10px 0;
        text-decoration: none;
        background-color: transparent;
        color: #6b86a4;
        font-size: larger;
        font-weight: 600;

        transition: scale 100ms ease, text-shadow 100ms ease-in;
        &:after{
            content:"";
            display: block;
            margin-top: 5px;
			width: 100%;
			border-bottom: 2px solid rgba(42, 42, 42, 0.8);
            transition: transform 300ms ease;
            transform: scaleX(0);
    
        }
        &:hover{
            color: rgba(42, 42, 42, 0.8);
            stroke: 2px black;
            text-shadow: 2px 6px 6px #C2C2C2;
            scale: 1.1;
            &:after{
                transform: scaleX(1);
            }
        }
        }
       
}