.hero {
	background-image: url(../images/2b1966ee8e9994d4051d1154196acc0e.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.animation-first {
	position: relative;
	animation: animatetop 1200ms;
}
.animation-second {
	position: relative;
	animation: animatebottom 900ms;
	animation-delay: 900ms;
	animation-fill-mode: backwards;
}

.hero__subtitle {
	width: 534px;
	font-weight: 500;
	display: block;
	margin: 0 auto;
	letter-spacing: 0.25rem;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	animation: animateleft 900ms;
	animation-delay: 1500ms;
	animation-fill-mode: backwards;
}

.hero__icon-wrapper {

	display: inline-block;
	fill: rgba(128, 128, 128, 0.5);
	position: relative;
	animation: animatetop_arrow 1200ms , breathing 2000ms normal infinite;
	animation-delay: 1700ms;
	top: 230px;
	animation-fill-mode: backwards;
	transition: scale 300ms ease-in-out;
	&:hover, &:focus{
		scale: (1.4);
		animation-play-state: paused;
	}
}
.hero__arrow-icon {
	animation: 5s ease-out infinite normal;
}

@media screen and (min-width: $desktop){
 .hero{
	height: 150vh;
 }
 .hero__icon-wrapper{
	top: 520px }

}
