.invitation {
	background-image: url(../images/8489c5e2eb1c696fba409c94e0ca77d1.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 43px 40px 43px;
	background-position: top;
	display: flex;
	align-items: center;

	gap: 50px;
}

.invitation__text-thumb {
	width: 50%;
	text-align: left;
	padding: 20px;
}

.invitation__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-grow: 20%;
	gap: 20px;
}
.column {
	flex: 25%;
	gap: 20px;
}

.invitation__photo > img {
	vertical-align: middle;
	width: 100%;
	object-fit: cover;
	transition: transform 400ms ease-in-out 50ms, border-radius 400ms ease 50ms;

	&:hover {
		transform: scale(1.15);
		border-radius: 8px;
		z-index: 200;
	}
}	

.item-1 {
	height: 220px;
	margin-bottom: 20px;
}
.item-2 {
	height: 220px;
}
.item-3 {
	height: 140px;
	margin-bottom: 20px;
}
.item-4 {
	height: 140px;
	margin-bottom: 20px;
}
.item-5 {
	height: 140px;
}
.item-6 {
	height: 220px;
	margin-bottom: 20px;
}
.item-7 {
	height: 220px;
}

.invitation__subtitle {
	display: block;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 40px;
	width: 300px;
	text-transform: uppercase;
}
.invitation__description {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.005em;
	color: rgba(42, 42, 42, 0.8);
}
.invitation__button {
	color: $bg-color;
	animation: breathing-light 2000ms normal infinite;
	animation-delay: 5.9s;

	&:hover {
		color: rgba(42, 42, 42, 0.8);
	}
}
