.travel {
	padding-top: 0;
	padding-bottom: 0;
    margin-top: -140px;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.travel__map-thumb {
	background-image: url(../images/41695f7aabdb8eaa9fd6df8a3f7d4473.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
}
.travel__image{
	width: 100%;
}
.travel__thumb {
	padding-left: 60px;
	padding-right: 43px;
	text-align: left;
	width: 50%;
	padding-bottom: 90px;
}
.travel__map {
	width: 50%;
	position: relative;
	
	&>img{
		z-index: 10;
		transition: transform 400ms ease 200ms;

	}
	&>img:hover{
		display: block;
		transform: scale(1.02);
	}

}

.travel__subtitle {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
}
.travel_description {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
}
.pointer {
	fill: #3a6aa7;
	transition: transform 250ms ease-in-out;
	z-index: 100;

	border-radius: 50%;

    width: 80px;
    height: 80px;
    padding: 20px;

	&:nth-child(1) {
		position: absolute;
		top: 25px;
		left: 10px;
	}
	&:nth-child(2) {
		position: absolute;
		top: 160px;
		left: 177px;
	}
	&:nth-child(3) {
		position: absolute;
        top: 60px;
        left: 290px;
	}
    &:nth-child(4) {
		position: absolute;
        top: 159px;
        left: 430px;
	}
}
